.ClientBookingsCalendar {
  width: 327px;
  height: 71px;
  border: 1px solid var(--grey-200);
  border-radius: 12px;
  border-width: 1px;
  gap: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 38px;
  height: 38px;
  gap: 8px;
  margin-right: 0px;
}

.text-time {
  width: 100px;
  height: 16px;
  color: var(--grey-700);
}

.Frame-427320227 {
  width: 86px;
  height: 36px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Frame-1984077931 {
  width: 130px;
  height: 34px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.Frame-1984077848 {
  width: 130px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.location {
  width: 119px;
  height: 16px;
}

.button {
  margin-left: -35px;
  margin-right: -10px;
  z-index: 1;
}
