.Frame-1984077823 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 520px;
  gap: 48px;
}

.Frame-1984077823-text {
  display: flex;
  text-align: center;
}
