.horizontal-card {
  width: 327px;
  height: 286px;
  background-color: var(--white-500);
  border-bottom: 1px solid var(--grey-200);
  padding-top: 30px;
  padding-bottom: 33px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.handymen-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Frame-427320203 {
  width: 181px;
  height: 42px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.name-and-verifiedmark {
  width: 181px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-horizontal-card {
  margin-right: 10px;
}

.location-horizontal-card {
  width: 155px;
  height: 16px;
  gap: 4px;
  display: flex;
  font-display: row;
  align-items: center;
}

.Frame-427320204 {
  width: 88px;
  height: 43px;
  gap: 2px;
}
.review {
  width: 44px;
  height: 24px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  gap: 2px;
  border-radius: 7px;
}

.Frame-1984077819 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  height: 24;
  gap: 4px;
}
.reviews {
  display: flex;
  align-items: center;
  color: var(--grey-900);
}

.Chip-Services {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.chip {
  padding: 6px 8px;
  border-radius: 4px;
  background-color: var(--blue-50);
  color: var(--blue-400);
  white-space: nowrap;
}

.horizontal-card-description {
  text-align: left;
}

.CTA-Buttons {
  width: 327px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.cta-text {
  width: 87px;
  height: 16px;
  color: var(--orange-500);
}
