.menu-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 566px;
  border-bottom-width: 1px;
  padding: 20px;
  gap: 32px;
  align-items: center;
}
