.reset-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 866px;
  width: 375px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.element-resetet-password {
  display: flex;
  flex-direction: column;
  height: 666px;
  width: 375px;
  align-items: center;
  justify-content: space-between;
}
