.navigation-menu {
  width: 375px;
  height: 76.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.menu-button {
  border: none;
  background: none;
  width: 66px;
  height: 73px;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.menu-button.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid var(--orange-500);
  color: var(--orange-500);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  letter-spacing: var(--button-letter-spacing);
}
