.toggle-container {
  width: 327px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.for-artisans {
  width: 78px;
  height: 16px;
}

.for-customers {
  width: 111px;
  height: 16px;
}
