.dots {
  gap: 12px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 6px;
  height: 6px;
  opacity: 0.4;
  border-radius: 100px;
  background-color: var(--white-700);
  cursor: pointer;
  transition: background-color 0.7s ease, transform 0.7s ease;
}
.dot.active {
  background-color: var(--black-900);
  transform: scale(1.2);
}
.dot:hover {
  background-color: var(--black-200);
}
