.sign-in-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.input-icon.right {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.input-icon.right:hover {
  opacity: 0.6;
}
