.frame-35 {
  width: 374px;
  height: 167px;
  gap: 6px;
}

.frame-34 {
  width: 100%;
  height: 137px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.frame-33 {
  width: 130px;
  height: 124px;
  display: flex;
  gap: 5px;
}

.frame-27 {
  width: 86px;
  height: 36px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-66 {
  width: 86px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.name {
  width: 86px;
  height: 16px;
}

.trust {
  color: var(--grey-700);
}

.img-container {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.img-container img {
  width: 10px;
  height: 13px;
}

.frame-48 {
  width: 130px;
  height: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.text-auf {
  width: 119px;
  height: 16px;
  color: var(--blue-500);
  display: flex;
  align-items: left;
}

.frame-37 {
  width: 236px;
  height: 137px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.text-233 {
  width: 236px;
  height: 51px;
  border-bottom: 1px solid;
  padding: 10px 0;
}

.text-type {
  width: 118px;
  height: 16px;
}

.frame-237 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 236;
  height: 51;
  gap: 4px;
  border-bottom: 1px solid var(--grey-200);
  padding-top: 10px;
  padding-bottom: 10px;
}

.frame-237 > .b1,
.frame-851 {
  display: flex;
  align-items: center;
}

.star {
  width: 100%;
  text-align: left;
}

.label {
  text-align: left;
  display: block;
  white-space: normal;
}
