.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--orange-400);
  background: var(--grey--100);
  transition: all 0.3s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.checkbox.checked {
  border: 1px solid var(--orange-400);
  background: var(--white-50);
}

.check-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 1px;
}
