/* Mobile-First Styles */
#root {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  #root {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  #root {
    max-width: 900px;
  }
}
