.register {
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.register-logo img {
  width: 120px;
  height: 120px;
}
